{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    {% block title %}  <title>Shop</title> {% endblock %}
</head>
<body>
<div  id="header" class="jumbotron text-center">
    <a href="/" class="logo text text-danger " style="font-family:'Arial';font-size: 50px;">My Shop</a>
</div>

<div id="subheader">
    <div class="cart">
       	{%	with	total_items=cart|length	%}
				{%	if	cart|length	>	0	%}
                <span class="text-center  text-reset" style=" color:#0d3d1a; font-style:oblique ; font-size:20px;">Your	cart:
						<a	href="{%	url	'cart:cart_detail'	%}">
								{{	total_items	}}	item{{	total_items|pluralize	}},
								${{	cart.get_total_price	}}
                        </a></span>
				{%	else	%}
        <span style="color:red;font-style:oblique ;">Your	cart	is	empty.</span>
				{%	endif	%}
		{%	endwith	%}
    </div>
</div>

<div id="content">
    {%block content%}
    {% endblock %}
</div>
</body>
</html>